#main{
    background-color: lightseagreen;
}
h1{
    background-color: cornflowerblue;
    text-align: center;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

#div1{
    border-radius: 10px;
}

.para1{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.img1{
    float: left;
    width: 320px;
    height: 350px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.innerpara{
    color: darkred;
    font-size: 18px;
    font-family: "Comic Sans Ms";
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: navy;
}

#div2{
    background-color: mediumslateblue;
    margin-top: 170px;
    border-radius: 10px;
}

#name{
    margin-top: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Comic Sans Ms";
    color: black;
    font-size: 20px;
}
